<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hair Services</title>
    <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="/css/layoutsResponsive.css">
        <link rel="stylesheet" href="/css/hairServiceOptions.css">

<body>
    <%- include('../layouts/header') %>

        <div class="main-content">
            <div class="breadcrumb d-flex justify-content-center align-items-center"
                style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text"><%= services.service_name %></h1>
                <p class="breadcrumb-text"><a href="">Home</a>&nbsp; / &nbsp;Hair Services / &nbsp;<%= services.service_name %> </p>
            </div>
        </div>

        
        <div class="main text-center">
            <!-- <h1><%= services.service_name %> </h1> -->
            <div class="img">
                <img src="<%= services.service_image %> " alt="" width="40%">
                <br><br>
               <b> <span><%= services.service_price %> $ </span></b>
            </div>
            <div class="des">
                <p><%= services.service_desc %> </p>
            </div>
            <div class="booking-button text-center">
                <a href="/booking">Booking now&nbsp;<i class="fas fa-angle-double-right read-more-icon"></i>
                    <div class="booking-button-before"></div>
                    <div class="booking-button-after"></div>
                </a>
            </div>
        </div>
        
        

        <%- include('../layouts/footer') %>
            <script src="/js/optionServices.js"></script>
            <script src="/js/owl.carousel.min.js"></script>
            <script>
                $('.owl-carousel').owlCarousel({
                    loop: true,
                    margin: 10,
                    nav: true,
                    autoplay: true,
                    autoplayTimeout: 4000,
                    autoplayHoverPause: true,
                    navText: ['<div class="carousel-nav-text"><i class="fal fa-chevron-left"></i></div>', '<div class="carousel-nav-text"><i class="fal fa-chevron-right"></i></div>'],
                    responsive: {
                        0: {
                            items: 1
                        }
                    }
                })
            </script>
</body>

</html>