<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=product.name%></title>
    <%- include('../layouts/head') %>
    <!-- Thư viện và CSS Import ở dưới -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/prod.css">
    <link rel="stylesheet" href="/css/prodResponsive.css">
    <link rel="stylesheet" type="text/css" href="/css/xzoom.css" media="all" />
<body>
<%- include('../layouts/header') %>

<div class="main-content" >
    <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
        <h1 class="breadcrumb-text"><%=product.name%></h1>
    </div>
</div>

<div class="main-wrap">
    <div class="row">
        <div class="main-left col-lg-3 col-md-3 col-sm-12">
            <div class="category">
                <div class="main-left-heading">Categories</div>
                <ul class="category-list">
                    <li class="category-item">
                        <i class="fas fa-circle"></i>
                        <a href="/products?category=Shampoo">Shampoo</a>
                    </li>

                    <li class="category-item">
                        <i class="fas fa-circle"></i>
                        <a href="/products?category=Nature Haircare" >Nature Haircare</a>
                    </li>

                    <li class="category-item">
                        <i class="fas fa-circle"></i>
                        <a href="/products?category=Hair Treatments" >Hair Treatments</a>
                    </li>

                    <li class="category-item">
                        <i class="fas fa-circle"></i>
                        <a href="/products?category=Styling Products" >Styling Products</a>
                    </li>

                    <li class="category-item">
                        <i class="fas fa-circle"></i>
                        <a href="/products?category=Hair Dryers" >Hair Dryers</a>
                    </li>

                    <li class="category-item">
                        <i class="fas fa-circle"></i>
                        <a href="/products?category=Flat Irons" >Flat Irons</a>
                    </li>

                    <li class="category-item">
                        <i class="fas fa-circle"></i>
                        <a href="/products?category=Curling Irons" >Curling Irons</a>
                    </li>

                    <li class="category-item">
                        <i class="fas fa-circle"></i>
                        <a href="/products?category=Cutting Tools" >Cutting Tools</a>
                    </li>

                </ul>
            </div>

            <div class="best-choice">
                <div class="main-left-heading">Best Choice</div>

                <div class="owl-carousel owl-theme best-choice-list">

                    <div class="best-choice-item">
                        <a href="/products/ultra-color-care-shampoo" class="best-choice-img"><img src="https://res.cloudinary.com/newstar94/image/upload/v1632149963/SBS-623606_uqy01f.jpg" alt=""></a>
                        <a href="/products/ultra-color-care-shampoo" class="owl-carousel-link">Ultra Color Care Shampoo</a>
                        <div class="line-img"></div>
                        <div class="price">$16.59</div>
                    </div>

                    <div class="best-choice-item">
                        <a href="/products/conditioning-treatment" class="best-choice-img"><img src="https://res.cloudinary.com/newstar94/image/upload/v1632188709/SBS-105570_olegrn.jpg" alt=""></a>
                        <a href="/products/conditioning-treatment" class="owl-carousel-link">Conditioning Treatment</a>
                        <div class="line-img"></div>
                        <div class="price">$8.39</div>
                    </div>

                    <div class="best-choice-item">
                        <a href="/products/healthy-heat-pro-power-dryer" class="best-choice-img"><img src="https://res.cloudinary.com/newstar94/image/upload/v1632191697/SBS-468503_lhauth.jpg" alt=""></a>
                        <a href="/products/healthy-heat-pro-power-dryer" class="owl-carousel-link">Healthy Heat Pro Power Dryer</a>
                        <div class="line-img"></div>
                        <div class="price">$65.29</div>
                    </div>

                    <div class="best-choice-item">
                        <a href="/products/healthy-heat-clip-free-curler" class="best-choice-img"><img src="https://www.sallybeauty.com/dw/image/v2/BCSM_PRD/on/demandware.static/-/Sites-SBS-SallyBeautySupply/default/dwc3940617/images/large/SBS-468505.jpg?sw=1500&sh=1500&sfrm=png" alt=""></a>
                        <a href="/products/healthy-heat-clip-free-curler" class="owl-carousel-link">Healthy Heat Clip Free Curler</a>
                        <div class="line-img"></div>
                        <div class="price">$51.99</div>
                    </div>

                </div>
            </div>

        </div>

        <div class="main-right col-lg-9 col-md-9 col-sm-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="post-info text-center">
                        <div class="xzoom-container">
                            <img class="xzoom3" src="<%=product.image[0]%>" width="100%" xoriginal="<%=product.image[0]%>" />
                            <div class="xzoom-thumbs">
                                <a href="<%=product.image[0]%>">
                                    <img class="xzoom-gallery3" width="80" src="<%=product.image[0]%>"  xpreview="<%=product.image[0]%>" ></a>
                                <a href="<%=product.image[1]%>"><img class="xzoom-gallery3" width="80" src="<%=product.image[1]%>" ></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h1 class="nameprd"><%=product.name%></h1>
                    <h2 class="nameprd">$<%=product.price%></h2>
                    <p class="description">
                        <%=product.description%>
                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item tab" role="presentation">
                            <a class="nav-link active" id="highlights-tab" data-toggle="pill" href="#highlights" role="tab" aria-controls="highlights" aria-selected="true">
                                HIGHLIGHTS
                            </a>
                        </li>
                        <li class="nav-item tab" role="presentation">
                            <a class="nav-link" id="shipping-tab" data-toggle="pill" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">
                               SHIPPING
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="highlights" role="tabpanel" aria-labelledby="highlights-tab">
                            <pre class="pre"><%=product.highlight%></pre>
                        </div>
                        <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                            <%=product.shipping%>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer') %>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/layout.js"></script>
<script type="text/javascript" src="/js/xzoom.min.js"></script>
<script src="/js/setup.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:true,
        autoplay:true,
        autoplayTimeout:4000,
        autoplayHoverPause:true,
        navText : ['<div class="carousel-nav-text"><i class="fal fa-chevron-left"></i></div>','<div class="carousel-nav-text"><i class="fal fa-chevron-right"></i></div>'],
        responsive:{
            0:{
                items:1
            }
        }
    })
</script>
</body>
</html>
