<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text">12 Ways to Stop Hair Thinning (P2)</h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp;12 Ways to Stop Hair Thinning (P2)</p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="/images/blog11.jpg" alt="" width="100%">
                </div>
                <p class="post-date">Jan 31 , 2018</p>
                <h1 class="post-heading">12 Ways to Stop Hair Thinning (P2)</h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href=""> Hair growth</a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <h2 class="post-title">Overview</h2>
                    <p class="post-text">Thinning hair refers to minor to moderate hair loss. Unlike widespread hair loss, thinning hair doesn’t necessarily cause baldness. It does, however, give the appearance of thinner spots of hair on your head.</p>
                    <p class="post-text">Thinning hair happens gradually, which means you have time to pinpoint the causes and figure out the best treatment measures</p>
                    <h2 class="post-title">What causes it?</h2>
                    <p class="post-text">
                        Thinning hair may be caused by lifestyle habits, genetics, or both. Certain medical conditions may also lead to thinning hair. According to the American Academy of Dermatology (AAD), it’s normal to lose 50 to 100 hairs per day. Any more than this means you could be shedding more than you should.
                    </p>
                    <p class="post-text">
                        Thinning hair may also be hereditary. Underlying medical considerations can also lead to this condition. You might have thinning hair if you:
                    </p>
                    <ul class="post-list">
                        <li class="post-item">Recently had a baby</li>
                        <li class="post-item">Stop taking birth control pills</li>
                        <li class="post-item">Are going through hormonal changes</li>
                        <li class="post-item">Have lost more than 20 pounds in a short amount of time</li>
                        <li class="post-item">Are being treated for an autoimmune disease</li>
                        <li class="post-item">Have immune system deficiencies</li>
                        <li class="post-item">Have a skin disorder or infection</li>
                    </ul>
                    <p class="post-text">Thinning hair is sometimes confused with alopecia, which is widespread hair loss. While thinning hair may eventually lead to hair loss, these two entities aren’t necessarily the same thing.</p>

                    <h2 class="post-title">Treatments and home remedies</h2>
                    <p class="post-text">Most cases of thinning hair are treatable at home. Consider the following 12 options, and talk to your doctor before taking any supplements.</p>

                    <h4 class="post-category">7. Omega-3 and omega-6 fatty acids</h4>
                    
                    <p class="post-text">Omega-3 and omega-6 fatty acids are called essential fatty acids. This is because they can’t be made by the human body. Omega-3 helps your body fight inflammation, an underlying cause of numerous conditions. Premature hair loss may also be related to inflammation. Omega-6, on the other hand, is important for overall skin health, which might benefit the scalp.</p>
                    <p class="post-text">Plant-based oils are primary sources of omega-6, while omega-3 fatty acids are found in fish. If you don’t normally consume such foods, talk to your doctor about using a supplement.</p>

                    <h4 class="post-category">8. Minoxidil</h4>
                    <p class="post-text">Best known as its brand-name Rogaine, minoxidil is a hair loss treatment approved by the U.S. Food and Drug Administration (FDA) that’s available over the counter. When applied directly to the scalp twice a day, you may gradually see thicker hair in balding spots. The product is available in either liquid or foam, depending on your preferences.</p>
                    <p class="post-text">Rogaine can take up to 16 weeks to take full effect, according to the Mayo Clinic. It’s important that you use the product consistently, or else you may not see results. Scalp irritation and unwanted hair growth on the face and neck are some possible side effects to look out for.</p>
                    
                    <h4 class="post-category">9. Spironolactone</h4>
                    <p class="post-text">Spironolactone (Aldactone) is prescribed for people who have thinning hair related to androgen production. While technically a “water pill,” Aldactone is an anti-androgen, too. In women, this medication may help treat thinning hair and subsequent hair loss related to hormonal fluctuations. A blood test is needed to make 

                    <h4 class="post-category">10. Finasteride</h4>
                    <p class="post-text">Finasteride (Propecia) is a prescription hair loss medication. It’s for men only. Unlike topical treatments like minoxidil, Propecia comes as a daily pill that men take for hair loss. Women should avoid these medications due to serious side effects — especially if you’re pregnant or nursing.</p>

                    <h4 class="post-category">11. Corticosteroids</h4>
                    <p class="post-text">Corticosteroids are prescription treatments used for conditions linked to underlying inflammation. Sometimes, inflammatory conditions can cause a variety of symptoms, including hair loss.</p>
                    
                    <h4 class="post-category">12. At-home laser therapy</h4>
                    <p class="post-text">Laser therapy is typically used by dermatologists and other skin specialists. Now, the FDA has cleared the way for some products to be used at home. At-home laser therapy for hair is intended to help regrow your hair while also making it thicker. The results can take several months to take effect.</p>
                    <p class="post-text">The biggest drawback of at-home laser therapy is the cost. Some machines are sold for hundreds of dollars, and they may not work. Talk to your healthcare provider before making such a large investment.</p>
                 
                    <h2 class="post-title">The takeaway</h2>
                    <p class="post-text">While the process of thinning hair can be concerning at first, it’s likely treatable. According to the AAD, treatments can take six to nine months.</p>
                    <p class="post-text">However, if you continue to experience hair loss, it may be time to talk to your healthcare provider. This is especially true if you start developing bald spots. Your healthcare provider can help you detect any underlying medical conditions, as well as offer any related medications. Hair transplants may be another option for advanced alopecia.</p>
                    
                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>
                    <h1 class="post-count-comment">0 Comments</h1>
                    <div class="post-line"></div>
                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="">
                        <div class="form-main">
                            <input type="text" class="name" name="name" placeholder="Name" required>
                            <input type="email" class="email" name="email" placeholder="Email" required>
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       
    </body>
</html>


<% posts.forEach(post => { %>
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="post-info text-center">
            <div class="post-info-img"><a href="/hair-problems/<%= post.slug %>"><img src="<%= post.image %>" alt="" width="100%"></a></div>
            <div class="post-sub-title">
                <p class="post-date"><%= moment(post.date).format('ll') %></p>
                <p class="comments-count">4 Comments</p>
                <p class="author"><i class="fas fa-user"></i> Hair Care Admin</p>
            </div>
            <a href="/hair-problems/<%= post.slug %>" class="post-heading"><%= post.title %></a>
            <p class="post-des"><%= post.description %></p>
            <p class="post-type"><i class="fas fa-tags"></i>
                <% post.type.forEach(type => { %>
                <a href="/hair-problems?type=<%= type  %>"> <%= type  %>&nbsp;&nbsp;&nbsp;</a> <% }) %>
            </p>
            <div class="post-read-more">
                <a href="/hair-problems/<%= post.slug %>">Read More&nbsp;<i class="fas fa-angle-double-right read-more-icon"></i>
                <div class="post-read-more-before"></div>
                <div class="post-read-more-after"></div>
                </a>
            </div>
        </div>
    </div>
    <% }) %> 