<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hair Post</title>
        <%- include('../layouts/head') %>
        <!-- Thư viện và CSS Import ở dưới -->
        <link rel="stylesheet" href="/css/hairProblemsPost.css">
    <body>
        <%- include('../layouts/header') %>

        <div class="main-content" >
            <div class="breadcrumb d-flex justify-content-center align-items-center" style="background-image: url(/images/breadcrumb_bg_img.jpg)">
                <h1 class="breadcrumb-text"> <%= post.title %> </h1>
                <p class="breadcrumb-text"><a href="/">Home</a>&nbsp; / &nbsp;<a href="/hair-problems">Hair Problems</a>&nbsp; / &nbsp; 
                    <%= post.title %> </p>
            </div>
        </div>

        <div class="main-wrap mt-5">
            <div class="container main-post">
                <div class="img-top">
                    <img src="<%= post.image %>" alt="" width="100%">
                </div>
                <p class="post-date"><%= moment(post.date).format('ll') %></p>
                <h1 class="post-heading"><%= post.title %> </h1>
                <p class="post-type"><i class="fas fa-tags"></i><a href=""> <%= post.type[0] %> </a></p>
                <div class="post-line"></div>
                <div class="post-content">
                    <div class="post-main" data-id="<%= post._id %>">

                    </div>

                    <p class="post-text">Share this on:  <a href="/"> <i class="fab fa-twitter"></i></a>
                        <a href="/"><i class="fab fa-facebook-f"></i></a>
                        <a href="/"><i class="fab fa-google"></i></a>
                        <a href="/"> <i class="fab fa-tumblr"></i></a></p>

                    
                    <div class="list-comments mb-5">
                       
                        
                    </div >
                    <div class="post-line"></div>

                    <h3 class="post-comment">LEAVE A COMMENT</h3>
                    <form action="" class="form-comment">
                        <div class="form-main">
                            <div class="form-group group-name">
                                <input type="text" class="name" name="name" id="name" placeholder="Name">
                                <small id="required-name" class="form-text">Vui lòng nhập vào trường này</small>
                            </div>
                            <div class="form-group group-email">
                                <input type="email" class="email" name="email" placeholder="Email">
                                <small id="required-email" class="form-text">Vui lòng nhập vào trường này</small>
                            </div>
                           
                           
                            <textarea name="message" class="message" cols="30" rows="5" placeholder="Message" required></textarea>
                            <small id="required-message" class="form-text w-100" >Vui lòng nhập vào trường này</small>
                            <button type="submit" class="form-submit">
                                Post comment
                                <div class="before"></div>
                                <div class="after"></div>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       

        <%- include('../layouts/footer') %>
       <script>
           var postMain = $('.post-main')
           var id = postMain.data('id');
           var formComment = $('.form-comment')
           var formSubmit = $('.form-submit')
           var nameInput = $('.name')
           var emailInput = $('.email')
           var messageInput = $('.message') 
           var listComments = $('.list-comments');

           $.ajax({
               url: '/hair-problems/list-comments',
               method: 'GET',
               data:{
                postId: id,
               },
               success: function(rs) {
                //    console.log(rs);
                   if (!rs) {
                    listComments.html('<h1 class="post-count-comment">0 Comments</h1>')
                   } else {
                        listComments.html(`<h1 class="post-count-comment">${rs.length} Comments</h1>`)
                        for(let i = 0; i < rs.length; i++) {
                            listComments.append(`
                                <div class="comment">
                                    <p class="post-text text-comment">${moment(rs[i].createdAt).format('ll')}</p>
                                    <p class="text-center text-comment"><b>${rs[i].name}</b></p>
                                    <p class="text-center text-comment">${rs[i].message}</p>
                                </div>
                            `)
                        }
                        }
               }
           })


           $.ajax({
               url: '/hair-problems/post-content?id=' +id, 
               method: 'GET',
               success: function(data) {
                   postMain.html(data[0].content)
               }
           })
           nameInput.click(function() {
               $('#required-name').css('display', 'none')
           })

           emailInput.click(function() {
               $('#required-email').css('display', 'none')
           })

           messageInput.click(function() {
               $('#required-message').css('display', 'none')
           })

           formSubmit.click(function (e) {
               e.preventDefault();
                var name = nameInput.val()
                var email = emailInput.val()
                var message = messageInput.val()

                if (!name) { $('#required-name').css('display', 'block') }
                if (!email) { $('#required-email').css('display', 'block') }
                if (!message) { $('#required-message').css('display', 'block') }

                if ((name) && (email) && (message)) {
                    $.ajax({
                    url: "/hair-problems/post-comment",
                    method: "POST",
                    data: {
                        postId: id,
                        name: name,
                        email: email,
                        message: message
                    },
                    success: function(rs) {
                        if (!rs) {
                            listComments.html('<h1 class="post-count-comment">0 Comments</h1>')
                        } else {
                            listComments.html(`<h1 class="post-count-comment">${rs.length} Comments</h1>`)
                            for(let i = 0; i < rs.length; i++) {
                                listComments.append(`
                                    <div class="comment">
                                        <p class="post-text text-comment">${moment(rs[i].createdAt).format('ll')}</p>
                                        <p class="text-center text-comment"><b>${rs[i].name}</b></p>
                                        <p class="text-center text-comment">${rs[i].message}</p>
                                    </div>
                                    `)
                                }
                            }
                        }
                    })
                    nameInput.val('');
                    emailInput.val('');
                    messageInput.val('');
                }
                
                
           })
       </script>
    </body>
</html>
